/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background-color: rgba(0, 0, 40, 1);
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --title-shadow-color: rgba(255, 0, 112, 1);
  --qwestion: rgba(255, 0, 112, 1);
  --answer: rgba(0, 0, 40, 1);
  --paragraf: rgba(0, 0, 40, 1);
  --back-text-color: rgba(255, 0, 112, 1);
  --text: rgba(241, 178, 206, 1);
  --link: rgba(241, 178, 206, 1);
  --link-shadow: rgba(255, 0, 112, 1);
  --border: rgba(255, 0, 112, 1);
  --border-hover: rgba(255, 0, 112, 0.4);
  --rec-color: rgba(255, 0, 112, 1);
  --corners-color: rgba(255, 0, 112, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgba(0, 0, 40, 1);
    --background-image: url(../images/cover-image-dark.png);
    --accent-color: rgba(255, 0, 112, 1);
    --title-color: rgba(219, 0, 255, 1);
    --title-shadow-color: rgba(255, 0, 112, 1);
    --qwestion: rgba(255, 0, 112, 1);
    --answer: rgba(0, 0, 40, 1);
    --paragraf: rgba(0, 0, 40, 1);
    --back-text-color: rgba(255, 0, 112, 1);
    --text: rgba(241, 178, 206, 1);
    --link: rgba(241, 178, 206, 1);
    --link-shadow: rgba(255, 0, 112, 1);
    --border: rgba(255, 0, 112, 1);
    --border-hover: rgba(255, 0, 112, 0.4);
    --rec-color: rgba(255, 0, 112, 1);
    --corners-color: rgba(255, 0, 112, 1);
  }
}
